# Acesso para o servico da IA ao Minio
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
BUCKET_EXTRATION=

# Websocket configuracoes
HOST=0.0.0.0
PORT=8000

# Openai LLM server
OPENAI_URL="http://localhost:8080/v1"
OPENAI_KEY="sk-no-key-required"

# Qdrant vector database
QDRANT_URL="http://localhost:6333"
QDRANT_COLLECTION="docling_rag_chunks"
QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6334

# Embeddings
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
RERANK_MODEL="cross-encoder/ms-marco-MiniLM-L-6-v2"

# RAG
LIMIT_RETRIES_CHUNKS=5