# Python cache
__pycache__/
.ipynb_checkpoints/

# Python binary files
*.pyc

# Env files
*.env
*.lock

# Environment python
.venv/

# Jupyter files
*.ipynb


# PDF Files
*.pdf

# Secret files
secrets/
